<section class="dashboard-wrap mtb-40">
    <div class="container">
          <div class="body-content">
          <div class="row">
            <div class="col-md-3">
                      <div class="dash-left">
                          <ul>
                              <li class="active"><a routerLink="/dashboard" routerLinkActive="active" class="nav-link">Dashboard</a></li>
                              <a routerLink="/Post" routerLinkActive="active" class="nav-link" >Posts</a>
                              <li><a href="#">Courses</a></li>
                              <li><a href="#">Pages</a></li>
                              <li><a href="#">Logout</a></li>
                          </ul>
                      </div>   
                  </div>
                  <div class="col-md-9">
                      <div class="dash-right">
                        <div class="dash-header">
                            <div class="dash-title">
                                <h1>{{title}}</h1>
                            </div>
                            <div class="dash-nav">
                                <!-- <a [routerLink]="['/admin/blogs/create']" class="btn btn-success">Add Post</a> -->
                                <a href="#" class="btn btn-success">Add Post</a>
                            </div>
                          </div>
                          <table class="table table-bordered table-striped">
                            <tr>
                                <th>#ID</th>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Created At</th>
                                <th>Action</th>
                            </tr>
                            <tr *ngFor="let post of allpost">
                                <td>{{post.Id}}</td>
                                <td><img src="../../../assets/images/{{post.Image}}" ></td>
                                <td>{{post.Title}}</td>
                                <td>{{post.EnteredDate | date: 'mediumDate'}}</td>
                                <td class="action">
                                    <a [routerLink]="['/admin/post/edit', post.Id]" class="btn btn-info btn-sm">Edit</a>
                                    <a (click)="onDelete(post.Id)" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                          </table>
                          {{error}}
                      </div>   
                  </div>
          </div>
          </div>
    </div>
  </section>
  