<div class="right-widget recent-post">
    <h3>Recent Posts</h3>
    <a href="#">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/a2.png" alt="blog1" />
            </div>
            <div class="rb-box-desc">
                <h4>Angular 10 Features</h4>
                <p>Posted On: March 10, 2020</p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/h123.png" alt="blog1" />
            </div>
            <div class="rb-box-desc">
                <h4>Hyperledger-Fabric Full Course</h4>
                <p>Posted On: March 11, 2020</p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/am3.png" alt="blog1" />
            </div>
            <div class="rb-box-desc">
                <h4>Angular Material example</h4>
                <p>Posted On: April 10, 2020</p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/n1.png" alt="blog1" />
            </div>
            <div class="rb-box-desc">
                <h4>NodeJs Full Features</h4>
                <p>Posted On: May 10, 2020</p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/m1.png" alt="blog1" />
            </div>
            <div class="rb-box-desc">
                <h4>MongoDb Example</h4>
                <p>Posted On: June 18, 2020</p>
            </div>
        </div>
    </a>
  </div>