<section class="dashboard-wrap mtb-40">
    <div class="container">
          <div class="body-content">
          <div class="row">
            <div class="col-md-3">
                      <div class="dash-left">
                          <ul>
                              <li class="active"><a href="#" class="active">Dashboard</a></li>
                              <li><a href="post">Posts</a></li>
                              <li><a href="#">Courses</a></li>
                              <li><a href="#">Pages</a></li>
                              <li><a href="#">Logout</a></li>
                          </ul>
                      </div>   
                  </div>
                  <div class="col-md-9">
                      <div class="dash-right">
                          <h1>Dashboard</h1>
                          <p>Goswami Tutorials is amazing and easy to learn from basic to advanced level. The guy who is teaching on YouTube its wonderful and he has just taught a lesson is very basic to advanced level and each and every point explain well even non technical person would see the videos carefully i am sure he or she can develop application easily. Special this tutorial for fresher level even the person with experience level sometimes they would not know some point so Goswami Tutorials the best resource for Online Education.</p>
                      </div>   
                  </div>
          </div>
          </div>
    </div>
  </section>