<section class="cmspage mtb-40">
    <div class="container">
      <h1>About Us</h1>
      <div class="page-desc">
        <p>This website provides tutorials of different programming languages and Computer subjects.  The main purpose of this website is to provide quality learning content for students and professionals. we understand your attachment with the content, so committed for delivering you the best possible material.

Goswami Tutorials website is all about creativity and innovative work in the field of Technology.</p>
        <p>We provide web development course videos, MCS important videos, technology videos, and articles.

You will get all the videos from my youtube channel and source code and you are free to use it and make changes.</p>
      </div>
    </div>
</section>