<section class="cmspage mtb-40">
  <div class="container">

    <img src="assets/images/About.png" class="card-img-top" alt="...">



    <!--         
      <div class="row mt-4">
        <div class="col-8-md">
          <img src="assets/images/grid.png" class="card-img-top" alt="...">
        </div>
        <div class="col-4-sm">
         
        </div>
      </div>
      <div class="col-4-sm">
        <h1 style='text-align: center;'>who are we?</h1>
        <p>This website provides tutorials of different programming languages and Computer subjects.  The main purpose of this website is to provide quality learning content for students and professionals. we understand your attachment with the content, so committed for delivering you the best possible material.
           Goswami Tutorials website is all about creativity and innovative work in the field of Technology.</p>
      </div> -->
  </div>
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="assets/images/grid.png" class="card-img-top" alt="...">
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
        <h1 class="font-weight-bold">What we offer?</h1>
        <p class="font-italic">This website provides tutorials of different programming languages and Computer subjects.  The main purpose of this website is to provide quality learning content for students and professionals. we understand your attachment with the content, so committed for delivering you the best possible material.
          Goswami Tutorials website is all about creativity and innovative work in the field of Technology.</p>
      </div>
    </div>
  </div>
</section>