<nav class="navbar navbar-expand-md navbar-dark bg-blue">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="assets/images/logo1.jpg" alt="Goswami Tutorials" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="course">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="page">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contact Us</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
            </form>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='login'>Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='registration'>SignUp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='logout'>LogOut</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='dashboard'>Admin</a>
          </li>
          
      </ul>
  
      </div>
    </div>
  </nav>